
ul {background-image: url(../img/pizzaimage.jpg);}

body {background-color: #F9D1D1;}

a {font-size: 45px;}

a, a:link, a:visited {color: #5695b9;}

a:hover, a:active {color: #F765A3;}

textarea {resize: none;}