
ul {background-image: url(../img/betterpizzamenustretch.jpg);
   background-repeat: no-repeat;
   background-size: cover;}
    
.menu {display: flex;
      width: auto;
      justify-content: space-around;
      flex-wrap: wrap;}                     

body {background-color: #F9D1D1;}

a {font-size: 60px;}

a, a:link, a:visited {color: #d4e0e7;
                      font-weight: bolder;
                      font-family: sans-serif;
                      -webkit-text-stroke: 1px black;
                      text-decoration: none;}

a:hover, a:active {color: #F9D1D1;
                   font-weight: bolder;
                   font-family: sans-serif;
                   -webkit-text-stroke: 1px black;
                   text-decoration: none;}
                
textarea {resize: none;}

legend {font-family: Franklin Gothic Medium;
        font-size: 30px;
        text-align:center;}

label {font-family: sans-serif;
      text-align: center;
      font-weight: bold;}


h4 {font-family: sans-serif;}

.home {display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;}


main {max-width: 1200px;
     margin:auto;
     padding-left: 10px;
     padding-right: 10px;}

.center {text-align: center;}

.home table {width: 100%;}

td {padding: 15px 0px;
   line-height: 65px;}

.orderstuff {display: flex;
            align-items: flex-start;
            flex-wrap: wrap;}

/* CSS Testing goes below here */